body {
    background-color: #3cca3c;
    font-family: papyrus;
}

.header {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 300%;
    font-weight: bold;
}
.container {
    display: flex;
    justify-content: center;
}

.btn {
    width: 200px;
    height: 200px;
    margin: 50px;
    border-radius: 10px;
    box-shadow: 3px 3px 2px grey;
}

.displayResults {
    text-align: center;
    margin: 1em;
}

#rock {
    background-color: #888c8d;
}

#paper {
    background-color: #f2eecb;
}

#scissors {
    background-color: #aaa9ad;
}

#refreshBtn {
    font-family: papyrus;
    background-color: #A47449;
    width: 150px;
    height: 50px;
    box-shadow: 3px 3px 2px grey;
}

#winner {
    font-weight: bold;
    font-size: 200%;
}
